@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");
/* @import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"; */

body {
  margin: 0;
  font-family: "Work Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.nav-box {
  position: absolute;
  display: flex;
  width: 100vw;
}
.nav-box > div {
  display: flex;
  margin: 24px;
}
.nav-box > .logo {
  flex-grow: 1;
  flex-basis: 0;
}
.nav-box > .logo > h1 {
  font-weight: 900;
}
.nav-links {
  display: flex;
  flex-direction: row;
}
.nav-links > div > a {
  margin: auto;
  text-transform: uppercase;
}
.nav-links > div {
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  margin: auto 24px;
}
.headline-box {
  padding: 48px;
  display: flex;
  justify-content: center;
  flex: 1 1 auto;
  min-height: 560px;
  background-color: #ffbf69;
  background-image: url("/assets/images/background.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.headline-box:hover {
  background-color: #fc2e20;
  background-image: url("/assets/images/background2.png");
  -webkit-transition: background-color 2000ms ease-in-out;
  -ms-transition: background-color 2000ms ease-in-out;
  transition: background-color 2000ms ease-in-out;
  -webkit-transition: background-image 1000ms ease-in-out;
  -ms-transition: background-image 1000ms ease-in-out;
  transition: background-image 1000ms ease-in-out;
}
.headline-box > div {
  max-width: 480px;
  display: flex;

  flex-grow: 1;
  flex-basis: 0;
  min-width: 0;
  margin: auto 24px;
  justify-content: center;
  flex-direction: column;
}
.headline-subtitle {
  color: white;
  font-size: 24px;
  font-weight: 600;
}
.headline-title {
  font-weight: 900;
  font-size: 120px;
  color: white;
  margin-bottom: 0;
}
.btn-headline {
  padding: 12px 24px;
  background-color: #cae8cf;
  font-size: 18px;
  border: none;
  text-transform: uppercase;
}
.description-box {
  min-height: 360px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.description-content {
  text-align: center;
  max-width: 560px;
  margin: auto;
}
.product-box {
  min-height: 480px;
  background-color: #cae8cf;
  padding: 36px;
}
.product-content {
  text-align: center;
  /* max-width: 560px; */
  margin: auto;
}

.product-item-box {
  display: flex;
  margin-top: 48px;
}
.product-item-box > div {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  min-width: 0;
  margin: auto 36px;
  justify-content: center;
  flex-direction: column;
}
.product-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.product-item > img {
  width: 200px;
  margin: auto;
}

.btn-product-item {
  padding: 8px 16px;
  background-color: #ffbf69;
  font-size: 12px;
  border: none;
  text-transform: uppercase;
}

.epilogue-box {
  display: flex;
  min-height: 480px;
  background-image: url("/assets/images/bg-grid.png");
  padding: 32px 64px;
}

.epilogue-box:hover {
  background-image: url("/assets/images/bg-grid2.png");
  -webkit-transition: background-image 1000ms ease-in-out;
  -ms-transition: background-image 1000ms ease-in-out;
  transition: background-image 1000ms ease-in-out;
}
.epilogue-box > div {
  display: flex;
  flex-direction: row;
  margin: auto 24px;
}
.epilogue-box > div > img {
  width: 360px;
}

.footer-box {
  display: flex;
  min-height: 120px;
  background-color: #2f2b25;
  justify-content: center;
}
.footer-box > div {
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.footer-box > div > a {
  margin: auto;
  color: white;
  text-transform: uppercase;
}